/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

/* Estilos para el botón */
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilos para el enlace de descarga */
#downloadLink {
    margin-top: 20px;
}

#pdfLink {
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
